        <footer class="b-footer">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="b-footer__copyrights">Gebrauchte lagercontainer, Materialcontainer, Seecontainer als ideale Losung fur die Baustoff- und Haushaltlagerung, Kuhlcontainer</div>
                    </div>
                    <div class="span4">
                        <div class="b-created">
                            <a target="_blank" href="//mymediapro.ru"><img src="images/mmplogo.png" alt="MyMediaPro" width="29" height="23"/></a>Erstellt mit Liebe im Studio <a target="_blank" href="//mymediapro.ru">MyMediaPro</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>