<header class="b-header">
    <div class="container">
        <div class="b-header__top">
            <div class="row">
                <div class="span3">
                    Bimicon Container Service GmbH
                </div>
                <div class="span9 align-right">
                    <span class="b-header__local b-header__item">Friedrich-Ebert-Damm 111 22047 Hamburg</span>
                    <span class="b-header__tel b-header__item"><span class="number">Tel: +49(40) 593-958-0</span><span class="number">Fax: +49(40) 593-958-20</span></span>
                </div>
            </div>
        </div>
        <nav class="b-header__nav">
            <div class="row">
                <div class="span2">
                    <a class="b-header__logo" href="index.html">BIMICON</a>
                </div>
                <div class="span7">
                    <ul class="b-header__nav-list">
                        <li class="b-header__nav-item"><a href="index.html">HOME</a></li>
                        <li class="b-header__nav-item"><a href="firmenprofil.html">FIRMENPROFIL</a></li>
                        <li class="b-header__nav-item"><a href="anfrage.html">anfrage</a></li>
                        <li class="b-header__nav-item"><a href="kontakt.html">KONTAKT</a></li>
                    </ul>
                </div>
                <div class="span3 align-right">
                    <a class="b-header__lang" href="#"><img src="images/flags/uk.png" alt="" class="flag"/>Switch to English</a>
                </div>
            </div>
        </nav>
    </div>
</header>