@@include('blocks/_b-header-inner.html', {
"title": "Firmenprofil"
})
<div class="content">
    <div class="container">
        <div class="b-text">
            <div class="row">
                <div class="span5">
                    <img src="images/content/b-cert_1.jpg" alt=""/>
                </div>
                <div class="span7">
                    <h2>Unser Zertifikat</h2>
                    <p>Wie bieten Ihnen neue und gebrauchte Kühlcontainer von allen Typen und Größen sowie See-/Lagercontainer.</p>
                    <p>Auf unserer Website finden Sie alle Antworten auf Fragen bezüglich der Container. Falls Sie noch zusätzliche Informationen benötigen, bitte rufen Sie uns an, und unsere Mitarbeiter werden Sie kompetent und freundlich beraten</p>
                    <p>Wir sind seit 1996 auf dem Containermarkt mit folgenden Dienstleistungen präsent:</p>
                    <ul class="list">
                        <li>Verkauf von Kühlcontainern/Seecontainern</li>
                        <li>Vermietung von Kühlcontainern/Seecontainern</li>
                        <li>Reparatur und Wartung</li>
                        <li>Verkauf von Ersatzteilen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')