@@include('blocks/_b-header-inner.html', {
"title": "Kühl- und Tiefkühlcontainer, gebraucht"
})
<div class="content">
    <div class="container">
        <div class="b-text">
            <div class="row">
                <div class="span6">
                    <h2>40‘ RF – 57 m³</h2>
                    <p>Ein Kühlcontainer besteht aus Stahlrahmen mit wärmeisolierenden Wänden in Sandwich-Bauweise mit Polyurethan-Schaum und Kühlaggregat.</p>
                    <p>Der Boden des Containers ist aus Aluminium-T-Profil, die Innenseite aus rostfreiem Stahl. Der Container hat eine Doppeltür (auch in Sandwich-Bauweise) mit Containerverriegelungsstange.</p>
                    <h2>Kühlmaschinentypen</h2>
                    <p>Alle Typen sind von der ausgezeichneter Qualität und höher Leistungsfähigkeit.</p>
                    <p>Von den technischen Parametern abgesehen, sind alle Modelle gleich und unterscheiden sich nur in elektronischer Ausstattung.</p>
                </div>
                <div class="span6">
                    <h2>Technische Daten</h2>
                    <ul class="tech-list">
                        <li>Außenmaße: L x B x H	12190 x 2440 x 2590</li>
                        <li>Innenmaße: L x B x H	11620 x 2286 x 2246</li>
                        <li>Rauminhalt: 57 m³</li>
                        <li>Leergewicht: 4900 kg</li>
                        <li>Zuladung: 27000 kg</li>
                        <li>Betriebsspannung: 380V/50 Hz</li>
                        <li>Benötigter Anschluss: 5-pol 32A </li>
                        <li>Stromaufnahme: 4,5KWh bis 10KWh</li>
                        <li>Kälteträger: R-134a</li>
                        <li>Einstellbarer Temperaturbereich: +25°C bis -25°C</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-cont">
            <div class="row">
                <div class="span6">
                    <div class="b-cont__item">
                        <div class="row">
                            <div class="span6">
                                <img src="images/content/cont1.jpg" alt="Carrier - Microlink I - Mikrolink II"/>
                            </div>
                            <div class="span6 b-text">
                                <h2>Carrier - Microlink I - Mikrolink II</h2>
                                <p>Dieses Model hat höhere Produktivität bei niedrigen Temperaturen (von -20C°) und ist sehr zu empfehlen für die Aufbewahrung von Eis und für das Gefrieren von den temperaturempfindlichen Produkten.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="b-cont__item">
                        <div class="row">
                            <div class="span6">
                                <img src="images/content/cont2.jpg" alt="Thermo King"/>
                            </div>
                            <div class="span6 b-text">
                                <h2>Thermo King</h2>
                                <p>Dieses Model ist sehr einfach in Bedienung und Service.</p>
                                <p>Es besteht eineMöglichkeit jede Einheit dieser Kühlmaschine separat zu reparieren. Einfach und belastbar in der Bedienung.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')