.b-breadcrumb{
    padding-bottom: em(0);
    a{
        $font-size: 14;
        font-size: em($font-size);
        display: inline-block;
        padding-right: em(16, $font-size);
        color: #000;
        position: relative;
        &:after{
            content:"→";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}