.b-contact{
    padding-bottom: em(79);
    img{
        display: block;
        width: 100%;
    }
    p{
        $font-size: 14;
        font-size: em($font-size);
        font-weight: 300;
    }
    h3{
        $font-size: 27;
        font-size: em($font-size);
        position: relative;
        font-weight: 300;
        padding: em(5, $font-size) 0 em(12, $font-size);
        margin-bottom: em(10, $font-size);
        &:after{
            content:"";
            display: block;
            width: 77px;
            height: 7px;
            background-color: #ffbe01;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}